body {
    background: #007777;
    margin:0 auto;
     width:80%;
}

header
{
     background: url(../img/header.png);
     background-repeat:no-repeat;
     background-size: 100% 100%;
     -moz-background-size: 100% 100%;
     width: 100%;
     height:15em;
     float: left;
}
header .logo
{
     color: white;
     width: 40%;
     text-align:left;
     float:left;

}
header .auth
{
     width:58%;
     padding:1%;
     float:right;
     text-align:right;
}
header .auth a
{
     text-decoration:none;
     color:black;
     font-weight:black;
     font-size:1.2em;
     text-shadow:0 0 6px #ddffdd;
}
header .auth a:hover
{
     text-shadow:0px 0px 8px #00b500;
}

.container
{
     background:#773b00;
     width:100%;
     height:auto;
     float:left;
}
.container2
{
     background: white;
     width:100%;
     height:auto;
     float:left;
}
.container3
{
     background: white;
     width:98%;
     padding:1%;
     height:auto;
     text-align:center;
     float:left;
}
.container3 .button
{
     padding:2%;
     font-size:1.5em;
     font-weight:bold;
     background:#009999;
     color:white;
     box-shadow:0.1em 0.1em 0.2em black;
}
.container3 .button:hover
{
     background:#00afaf;
     box-shadow:0.1em 0.1em 0.2em black inset;
}
.container3 table
{
     width:100%;
}
.container3 th
{
     background:#004d4d;
     color:white;
}
.container3 td
{
     background:#8bffff;
}
.container .add_button
{
     background:green;
     color:white;
     width:34%;
     padding:3%;
     margin:5%;
     font-size:3em;
     font-weight:bold;
     float:left;
     box-shadow:4px 4px 1em black;
     border-radius:1em;
}
.container .add_button:hover
{
     box-shadow:4px 4px 1em black inset;
}
.container .search_button
{
     background:#00dbdb;
     color:white;
     width:34%;
     padding:3%;
     margin:5%;
     font-size:3em;
     font-weight:bold;
     float:left;
     box-shadow:4px 4px 1em black;
     border-radius:1em;
}
.container .search_button:hover
{
     box-shadow:4px 4px 1em black inset;
}
.map
{
     background:white;
     width:50%;
     float:left;
}
.information
{
     background:white;
     width:46%;
     padding:2%;
     float:left;
}
.information li
{
     display:block;
}
.sponsors
{
     width:100%;
     background:#2e2e70;
     float:left;
}
.sponsors .part
{
     width:23%;
     padding:1%;
     color:white;
     float:left;
}
footer
{
     width:100%;
     padding:1em;
     text-align:center;
     float:left;
}

#map { height: 100%; height:25em;}